@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
}
.siteheading {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-right: 20px;
}
.navbg {
    background: black;
    min-height: 90px;
    width: 100%;
    color: white;
    position: fixed;
    top:0;
    z-index: 1000;
}
nav {
    display:flex;
    
    align-items: center;
    padding: 8px 2%;
    
}
nav a:link {
    text-decoration: none;
  }
nav img,h1 {
    cursor: pointer;
    padding-top: 10px;
}
nav ul {
    flex:1;
    text-align: center;
}
nav ul li {
    background: black;
    padding: 1%;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.space {
    padding:70px;
}
.rectangle{
    fill:rgb(151, 77, 135); 
    stroke:rgb(3, 3, 3); 
    stroke-width:2;
    cursor: pointer;
    transition: 0.5s;
}
.h1{
    
    color: azure;
    text-align: center;
    top: 100px;
}

.rectangle-line{
  fill:rgb(6, 6, 6); 
    stroke:rgb(14, 13, 13); 
    stroke-width:5;
}

.rectangle:hover {
    fill : rgba(135, 130, 130, 0.507);
    stroke : rgb(87, 89, 91);
    transform: translateY(5px);
}

.text{
  fill: rgb(234, 222, 222);
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
}

.pagebottom{
  height: 150px;
  border-top: 2px solid rgb(158, 110, 110);
  background-color:rgb(167, 129, 129);
}

svg{
  margin-bottom: 200px;
  margin-left: 11%;

}
.sitename{
  color: rgb(2, 2, 2);
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;

}